body{
background-color: #BEC7CD;
}

#painelFormulario {
font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
background-color: #3B5998;
color: #ffffff;
width: 600px;
height: 400px;
margin: 200px auto;
padding: 20px;
}
#painelFormulario h1 {
  color: #D2D2D1;
  font-family: Arial, sans-serif;
  font-size: 25px;
}

#painelFormulario table {
margin: 20px auto;
width: 580px;
}

#painelFormulario table select {
width: 200px;
}

#painelFormulario tr{
height: 35px;
}

#painelFormulario table tr td div {
float: right;
}

#painelFormulario table tr td label {
float: right;
}

#painelFormulario .campo-texto {
border: lpx solid #000;
background-color: #383838;
color: #000000;
width: 200px;
}
label.error{
background-color: red;
color: #FFFFFF;
margin-left: 5px;
padding: 0 5px 0;
position: absolute;
}